[Unit]
Description=Tapiocabot
[Service]
CPUAccounting=yes
User=tapioca
Group=tapioca
SuccessExitStatus=143
TimeoutStopSec=10
EnvironmentFile=/var/tapioca/.env
WorkingDirectory=/var/tapioca/YobSubCord/
ExecStart=/usr/bin/java -jar /var/tapioca/YobSubCord/build/libs/YobSubCord-4.2.1.jar
Restart=on-abort
Type=simple
[Install]
WantedBy=multi-user.target